<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
  <!-- Dependencies -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
    integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Dongle:wght@300&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
  <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css" rel="stylesheet" />
  <link rel="stylesheet" href="/css/style-home.css">
  <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/daterangepicker/daterangepicker.css" />
  <link rel="stylesheet" href="/css/animation.css">
  <link rel="stylesheet" href="/css/style-edit.css">
  <title>Home - Connectify</title>
  <!-- Znam da mozda ne bi trebalo ovde, ali drugacije ne radi -->
  <script type="text/javascript" src="https://cdn.jsdelivr.net/jquery/latest/jquery.min.js"></script>
  <script type="text/javascript" src="https://cdn.jsdelivr.net/momentjs/latest/moment.min.js"></script>
  <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/daterangepicker/daterangepicker.min.js"></script>
  <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/daterangepicker/daterangepicker.css" />
  <script async src='/cdn-cgi/bm/cv/669835187/api.js'></script>
</head>

<body>
  <div id="main">
    
    <!-- Navbar -->
    
    <nav class="navbar navbar-expand-sm fixed-top navbar-light bg-light">
      <a class="navbar-brand" href="#"><img src="connectify.jpg" id="logo" width="100" alt="connectify-logo.jpg"></a>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item mx-auto">
            <input type="text" class="form-control" id="search-name" placeholder="Search users...">
          </li>
          <li class="nav-item mx-auto">
            <input type="text" class="form-control" id="range-picker" name="daterange" value="Select dates" />
          </li>
          <li class="nav-item mx-auto my-auto">
            <i class="fas fa-question" data-toggle="tooltip" data-placement="bottom" data-html="true" :title="tooltipString"></i>
          </li>
          <li class="nav-item mx-auto">
            <button class="btn btn-outline-secondary" id="search-button" @click="search">Search</button>
        </ul>
        <ul v-if="logged.role==='GUEST'" class="nav ml-auto navbar-nav navbar-right">
          <li class="nav-item">
            <a class="nav-link" href="../index.html"><span><i class="fas fa-sign-in-alt"></i></span> Log In </a>
          </li>
        </ul>
        <ul v-else class="nav ml-auto navbar-nav navbar-right">
          <li class="nav-item" v-if="profileNavbarToggle">
            <a class="nav-link" href="#" @click="selectMyProfile" id="username"><span><i class="fas fa-user-circle"></i></span> {{logged.username |
              appendSuffix}} </a>
          </li>
          <li class="nav-item" v-if="homeNavbarToggle">
            <a class="nav-link" href="#" @click="goBackHome"><span><i class="fas fa-home"></i></span>
              Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#" @click="showRequests"><span><i class="fas fa-users"></i></span> Friend Requests </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#" @click="showMessages"><span><i class="fas fa-comments" id="inbox-icon"></i></span> Inbox </a>
          </li>
          <li class="nav-item" id="logout" @click="logout">
            <a class="nav-link" href="#"><span><i class="fas fa-sign-out-alt"></i></span> Log Out </a>
          </li>
        </ul>
        </ul>
      </div>
    </nav>
    


    <div class="container">
      
      <!-- Poruke -->
      <div id="direct-message-wrapper" v-if="showMessagesToggle">
        <div class="message-container">
          <h3 class="justify-content-center mx-auto row">Direct Messages</h3>
          <hr />
          <div class="row">
            <ul class="col-4 border-right chat-box">
              <li v-for="friend in msgList" class="post-list-item">
                <div class="grow" @click="selectForMessaging(friend)" :id="friend">
                  <img :src="'..' + profilePhotoMap[friend].substr(12)" alt="image" class="profile-pic">
                  <h6 class="post-author" :class="{glow: (friend === 'jovansa' || friend === 'djosa'), selected: friend===selectedRecipient}" style="color: black;">
                    {{friend}}
                  </h6>
                </div>
                <hr/>
              </li>
            </ul>
            <div class="col-8" class="message-box" id="test">
              <ul class="chat-box list-group" id="message-list">
                <li v-for="message in messages"  :class="{recipient: message.recipient === logged.username, sender: message.sender === logged.username, glow: admins.includes(message.sender), admin: admins.includes(message.sender)}" class="list-group-item" tabindex="1"> {{message.text}} <p class="timestamp">{{message.timestamp|cut}} {{message.sender}}</p> </li>
              </ul>
            </div>
          </div>
        </div>      
        <div class="justify-content-center mx-auto row direct-message-prompt" v-if="selectedRecipient != ''">
          <hr />
          <img :src="'..' + profilePhotoMap[logged.username].substr(12)" alt="image" class="profile-pic"
            id="direct-message-profilepic">
          <input type="text" id="direct-message-input" class="form-control col" placeholder="Write a message..."
            v-model="message">
          <button class="btn btn-primary post-comment-new" id="direct-message-send" @click="sendMessage">Send</button>
        </div>
      </div>

      <!-- Pregled zahteva za prijateljstvo -->
      <div id="friend-request-wrapper" v-if="showRequestsToggle">
        <table class="table table-light">
          <thead>
            <tr>
              <th scope="col" colspan="5" class="friend-request-header">
                Friend Requests
              </th>
            </tr>
            <tr v-if="pendingRequestsLength === 0">
              <th scope="col" colspan="5" class="friend-request-header">
                There are no pending friend requests!
              </th>
            </tr>
            <tr v-else>
              <th scope="col" colspan="3" class="friend-request-header">User</th>
              <th scope="col" colspan="1" class="friend-request-header">Accept</th>
              <th scope="col" colspan="1" class="friend-request-header">Decline</th>
            </tr>
          </thead>
          <tbody>
            <tr v-for="req in logged.friendRequests" v-if="req.status==='PENDING'">
              <td scope="row" class="friendlist-item" @click="loadFriend(req.sender)" colspan="3">
                <img :src="'..' + profilePhotoMap[req.sender].substr(12)" alt="image" class="profile-pic">
                <h6 class="post-author" :class="{glow: (req.sender === 'jovansa' || req.sender === 'djosa')}" style="color: black;">
                  {{req.sender}}</h6>
              </td>
              <td style="text-align: center;"><button @click="confirmRequest(req.id, true)" type="button" class="btn btn-success"><i class="fas fa-check"></i></button></td>           
              <td style="text-align: center;"><button @click="confirmRequest(req.id, false)" type="button" class="btn btn-danger"><i class="fas fa-times"></i></button></td>
            </tr>
          </tbody>
        </table>
      </div>

      <!-- Rezultati pretrage -->
      <div id="search-results-wrapper" v-if="showSearchToggle">
        <table class="table table-light">
          <thead>
            <tr class="align-c">
              <th scope="col" colspan="1" style="text-align: center;">Search Results</th>
              <th colspan="1" class="btn-toolbar" role="toolbar"> 
                <div class="btn-group mr-2" role="group" aria-label="First group">
                  <button style="margin-left: 55px;" @click="asc('name')" type="button" class="btn btn-secondary"><i class="fas fa-arrow-circle-up"></i></button>
                  <button @click="desc('name')"type="button" class="btn btn-secondary"><i class="fas fa-arrow-circle-down"></i></button>
                </div>               
              </th>
              </th>
              <th>
                <div class="btn-group mr-2" role="group" aria-label="Second group">
                  <button @click="asc('surname')" type="button" class="btn btn-secondary"><i class="fas fa-arrow-circle-up"></i></button>
                  <button @click="desc('surname')" type="button" class="btn btn-secondary"><i class="fas fa-arrow-circle-down"></i></button>
                </div>
              </th>
              <th>
              
              </th>
              <th>
                <div class="btn-group mr-2" role="group" aria-label="Third group">
                  <button @click="dobAsc" type="button" class="btn btn-secondary"><i class="fas fa-arrow-circle-up"></i></button>
                  <button @click="dobDesc" type="button" class="btn btn-secondary"><i class="fas fa-arrow-circle-down"></i></button>
                </div>
              </th>
              <th v-if="isAdmin">
              
              </th>
            </tr>
            <tr v-if="searchResultsList.length === 0">
              <th style="text-align: center;" scope="col" colspan="5">No users found!</th>
            </tr>
            <tr v-else class="align-c">
              <th scope="col">User</th>
              <th scope="col">Name</th>
              <th scope="col">Surname</th>
              <th scope="col">E-mail</th>
              <th scope="col">Date of Birth</th>
              <th scioe="col" v-if="isAdmin">Block</th>
            </tr>
          </thead>
          <tbody>
            <tr v-for="u in searchResultsList" class="friendlist-item">
              <td scope="row" @click="loadFriend(u.username)">
                <img :src="'..' + profilePhotoMap[u.username].substr(12)" alt="image" class="profile-pic">
                <h6 class="post-author" :class="{glow: (u.username === 'jovansa' || u.username === 'djosa')}" style="color: black;">{{u.username}}</h6>
              </td>
              <td class="align-middle align-c">{{u.name}}</td>
              <td class="align-middle align-c">{{u.surname}}</td>
              <td class="align-middle align-c">{{u.email}}</td>
              <td class="align-middle align-c">{{u.dateOfBirth}}</td>
              <td class="align-middle align-c" v-if="isAdmin && u.role !== 'ADMINISTRATOR'"><button class="btn block-button" :class="blockClass(u)" @click="blockUser(u.username)" :id="'block-button'+u.username">{{blockString(u)}}<i class="fas block-button-icon" :class="blockClass(u)" :id="'block-button-icon'+u.username"></i></button></td>
            </tr>
          </tbody>
        </table>
      </div>

      <!-- Prikaz detalja o profilu -->

      <div id="profile-information-wrapper" v-if="profileToggle">
        <div class="row">
          <div class="d-flex justify-content-center col">
            <img :src="'..' + profilePhotoMap[selectedProfile.username].substr(12)" alt="image" class="profile-pic-large">
          </div>
        </div>
        <div class="profile-information">
          <div class="row">
            <div class="d-flex justify-content-center col">
              <p class="profile-information-username"
                :class="{glow: (selectedProfile.username === 'jovansa' || selectedProfile.username === 'djosa')}">
                {{selectedProfile.username}}
              </p>
            </div>
          </div>
          <div class="row">
            <div class="d-flex justify-content-center col">
              <p class="profile-information-text" style="color: rgb(177, 175, 175);">
                Full name:&nbsp;
              <p class="profile-information-text">{{selectedProfile.name}} {{selectedProfile.surname}}</p>
              </p>
            </div>
          </div>
          <div class="row">
            <div class="d-flex justify-content-center col">
              <p class="profile-information-text" style="color: rgb(177, 175, 175);">
                Date of birth:&nbsp;
              <p class="profile-information-text">{{reformattedDob}}</p>
              </p>
            </div>
          </div>
          <div class="row" v-if="isFriend(selectedProfile.username) && selectedProfile.username !== logged.username">
            <div class="d-flex justify-content-center col">
              <p class="profile-information-text" style="color: rgb(177, 175, 175);">
                You are friends with this user &nbsp<button type="button" class="btn btn-danger btn-lg" @click="removeFriend(selectedProfile.username)">Remove Friend<i class="fas fa-user-slash"></i></button></i>
              </p>
            </div>
          </div>
          <div class="row" v-if="isPending && selectedProfile.username !== logged.username">
            <div class="d-flex justify-content-center col">
              <p class="profile-information-text" style="color: rgb(177, 175, 175);">
                You are not friends with this user&nbsp;<button class="btn btn-success btn-lg" disabled>Friend Request Sent <i
                    class="fas fa-user-plus"></i></button>
              </p>
            </div>
          </div>
          <div class="row" v-else-if="!isFriend(selectedProfile.username) && selectedProfile.username !== logged.username && !isPending">
            <div class="d-flex justify-content-center col">
              <p class="profile-information-text" style="color: rgb(177, 175, 175);">
                You are not friends with this user&nbsp;<button class="btn btn-success btn-lg" @click="addFriend(selectedProfile.username)" :disabled="logged.role==='GUEST'">Send Friend Request <i
                    class="fas fa-user-plus"></i></button>
              </p>
            </div>
          </div>
          <div class="row">
            <div class="col">
              <div v-if="mutualFriendsLen > 0">
                <p class="profile-information-text" style="color: rgb(177, 175, 175); margin-left:5px;">{{friendListLabel}}
                  ({{mutualFriendsLen}}):
                </p>
                <ul class="mutual-friends-table">
                  <div v-for="u in mutualFriends" class="friendlist-item" @click="loadFriend(u)">
                    <img :src="'..' + profilePhotoMap[u].substr(12)" alt="image" class="profile-pic">
                    <h6 class="post-author" :class="{glow: (u === 'jovansa' || u === 'djosa')}">{{u}}</h6>
                  </div>
                </ul>
              </div>
              <p class="profile-information-text" style="color: rgb(177, 175, 175); margin-left:40px; margin-top:50px;"
                v-if="mutualFriendsLen === 0">
                {{emptyFriendListLabel}}
              </p>
            </div>
            <div class="d-flex justify-content-center col dm-button">
              <button v-if="selectedProfile.username !== logged.username" class="btn btn-lg btn-danger"
                :disabled="!isFriend(selectedProfile.username)" @click="directMessageButton(selectedProfile.username)">Direct Message <i class="fas fa-envelope"></i></button>
            </div>
          </div>
        </div>
      </div>
      <!-- Container dugmadi za nove objave -->
      
      <div class="row" id="post" v-if="showNewPostToggle && logged.role !== 'GUEST'">
        <div class="col-sm top-button-container">
          <button v-if="newPostToggle===true" class="btn btn-light post-button" id="activate-post"
            @click="if(newImgToggle===false) newImgToggle=true; newPostToggle=!newPostToggle"><i
              class="fas fa-file-alt post-icon"></i>New Post</button>
          <div v-else class="activated-post">
            <label for="post-image">Upload an image (optional)</label>
            <input type="file" class="form-control-file" id="post-post" name="post-post">
            <textarea class="form-control post-text" placeholder="Enter text" id="post-post-text"></textarea>
            <div class="selection">
              <button class="btn btn-secondary btn-lg" @click="newPost">Post</button>
              <button class="btn btn-secondary btn-lg" @click="newPostToggle=!newPostToggle">Cancel</button>
            </div>
          </div>
        </div>
        <div class="col-sm top-button-container">
          <button v-if="newImgToggle===true" class="btn btn-light post-button" id="activate-image"
            @click="if(newPostToggle===false) newPostToggle=true;newImgToggle=!newImgToggle"><i
              class="fas fa-image post-icon"></i>New
            Image</button>
          <div v-else class="activated-post">
            <label for="post-image">Upload an image </label>
            <input type="file" class="form-control-file" id="post-image">
            <textarea class="form-control post-text" placeholder="Enter text (optional)"
              id="post-image-text"></textarea>
            <div class="selection">
              <button class="btn btn-secondary btn-lg" @click="newImg">Post</button>
              <button class="btn btn-secondary btn-lg" @click="newImgToggle=!newImgToggle">Cancel</button>
            </div>
          </div>
        </div>
      </div>

      <!-- Red za edit dugme -->
      <div class="row edit-container" v-if="showEditToggle">
        <div class="col-sm">
          <button v-if="editDataToggle===true" type="button" class="btn btn-outline-secondary post-button" id="activate-edit"
            @click="editToggler(editDataToggle)"><i
              class="fas fa-edit"></i> Edit personal details </button>
          <div v-else class="activated-edit">
            <label align="center">Edit your personal data </label>
            <div>
              <form action="#" id="editData" class="form" novalidate>
                <div class="row">
                  <div class="col">
                    <p align="left" class="text-secondary"> Name </p>
                    <input type="text" class="form-control" id="name" placeholder="Enter new name" v-model="logged.name"
                      @keydown="deleteError(nameError)">
                  </div>
                  <div class="col">
                    <p align="left" class="text-secondary"> Surname </p>
                    <input type="text" class="form-control" id="surname" placeholder="Enter new surname"
                      v-model="logged.surname" @keydown="deleteError(surnameError)">
                  </div>
                </div>
                <div class="row">
                  <div class="col">
                    <p style="color:red" id="name-error"> {{nameError}} </p>
                  </div>
                  <div class="col">
                    <p style="color:red" id="surname-error"> {{surnameError}} </p>
                  </div>
                </div>
                <div class="row">
                  <div class="col">
                    <p align="left" class="text-secondary"> Email </p>
                    <input type="text" class="form-control" id="email" placeholder="Enter new email" v-model="logged.email"
                      @keydown="deleteError(emailError)">
                  </div>
                  <div class="col">
                    <p align="left" class="text-secondary"> Date of birth </p>
                    <input type="date" class="form-control" name="birthday" :max="maxDate" v-model="logged.dateOfBirth" />
                  </div>
                </div>
                <div class="row">
                  <div class="col">
                    <p style="color:red" id="email-error"> {{emailError}} </p>
                  </div>
                  <div class="col">
                  </div>
                </div>
                <div class="row">
                  <div class="col">
                    <p align="left" class="text-secondary"> New password </p>
                    <input type="password" class="form-control" id="new-password" placeholder="Enter new password"
                      v-model="newPassword" @keydown="deleteError(passwordError)">
                  </div>
                  <div class="col">
                    <p align="left" class="text-secondary"> Confirm password </p>
                    <input type="password" class="form-control" id="confirm-password" placeholder="Confirm new password"
                      v-model="newPasswordConfirm" @keydown="deleteError(confirmPasswordError)">
                  </div>
                </div>
                <div class="row">
                  <div class="col">
                    <p style="color:red" id="password-error"> {{passwordError}} </p>
                  </div>
                  <div class="col">
                    <p style="color:red" id="confirm-password-error"> {{confirmPasswordError}} </p>
                  </div>
                </div>
                <div class="row">
                  <div class="col">
                    <p align="left" class="text-secondary"> New profile picture </p>
                    <div class="row">
                      <div class="col">
                        <img :src="'..' + logged.profilePic.substr(12)" alt="Profile picture" width="75" height="75" />
                        <p align="center" class="current-pic-label text-secondary"> Current profile picture </p>
                      </div>
                      <div class="col">
                        <div id="table-wrapper">
                          <div id="table-scroll">
                            <table class="picTable">
                              <thead>
                                <tr>
                                  <th> Your pictures </th>
                                </tr>
                              </thead>
                              <tbody>
                                <tr v-for="img in images" v-on:click="selectImage(img)"
                                  v-bind:class="{selected : selectedImage===img.image}">
                                  <td><img :src="'..' + img.image.substr(12)" alt="Image" width="75" height="75"></td>
                                </tr>
                              </tbody>
                            </table>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="col">
                    <p align="left" class="text-secondary"> Profile privacy </p>
                    <div class="row">
                      <div class="form-check">
                        <label class="form-check-label" for="private-radio"><i class="fas fa-lock"></i>
                          <input class="form-check-input" type="radio" name="privacy-radios" id="private-radio" value="true"
                            v-model="logged.isPrivate">
                          Private
                        </label>
                      </div>
                      <div class="form-check">
                        <label class="form-check-label" for="public-radio"><i class="fas fa-globe"></i>
                          <input class="form-check-input" type="radio" name="privacy-radios" id="public-radio"
                            v-model="logged.isPrivate" value="false">
                          Public
                        </label>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="edit-selection">
                  <button type="button" class="btn btn-secondary btn-lg" @click.stop="edit">Submit</button>
                  <button type="button" class="btn btn-secondary btn-lg"
                    @click="logged=loggedBackup; editDataToggle=!editDataToggle; deleteError('all');">Cancel</button>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>

      <!-- Objave -->

      <ul id="post-list" v-if="showPostsToggle && canSeeToggle ">
        <li v-for="post in postListForHome" v-if="!post.isDeleted" :key="post.id" class="post-list-item">
          
          <!-- Objave tipa post -->
          <!-- Zaglavlje objave -->

          <div class="card mx-auto" v-if="post.type === 'POST' ">
            <span class="profile-info">
              <img :src="'..' + profilePhotoMap[post.authorUsername].substr(12)" alt="image" class="profile-pic">
              <h6 class="card-title post-author" :class="{glow: (post.authorUsername === 'jovansa' || post.authorUsername === 'djosa')}">{{post.authorUsername}}</h6>
              <p class="timestamp">{{post.timestamp}}</p>
              <button style="display: inline;" class="btn btn-secondary btn-sm details-button" @click="reveal(post.id)" :id="'button'+post.id">Show Details</button>
              <i class="fas fa-trash-alt delete-icon" @click="deletePost(post.id, post.authorUsername)" v-if="post.authorUsername === logged.username"></i>
              <i class="fas fa-ban delete-icon glow" @click="adminDeletePost(post.id, post.authorUsername)" v-if="logged.role === 'ADMINISTRATOR' && post.authorUsername != logged.username"></i>
            </span>
            
            <!-- Sadrzaj objave -->
            
            <img v-if="typeof post.image !== 'undefined'" class="card-img-top mx-auto"
              :src="'..' + post.image.substr(12)" alt="image" :id="'img' + post.id" style="display: none;">
            <div class="card-body">
              <h5 class="card-title">{{post.text}}</h5>
            </div>
            
            <!-- Lista komentara -->
            
            <ul class="list-group list-group-flush" id="comment-list" :id="'comments' + post.id" style="display:none;">
              <li v-for="comment in post.comments" v-if="!comment.isDeleted" class="list-group-item">
                <span class="comment-info">
                  <img :src="'..' + profilePhotoMap[comment.authorUsername].substr(12)" alt="image" class="profile-pic">
                  <h6 class="card-title post-author" :class="{glow: (comment.authorUsername === 'jovansa' || comment.authorUsername === 'djosa')}">{{comment.authorUsername}}</h6>
                  <p class="timestamp">{{comment.postDate}}</p>
                  <p class="timestamp" v-if="comment.hasOwnProperty('lastModified')">{{"(edited " + comment.lastModified + ")"}}</p>
                  <i class="fas fa-trash-alt delete-icon" @click="deleteComment(comment.id)"
                    v-if="comment.authorUsername === logged.username"></i>
                  <i class="fas fa-pen edit-icon" @click="editComment(comment.id)" v-if="comment.authorUsername === logged.username"></i>
                  <p :id="'commentText'+comment.id">{{comment.text}}</p>
                </span>
              </li>
              
              <!-- Prompt za upis novog komentara -->

              <li class="list-group-item comment-new-span">
                <span class="row">
                  <img :src="'..' + logged.profilePic.substr(12)" alt="image" class="profile-pic">
                  <input type="text" :id="'post-comment' + post.id " class="form-control col" placeholder="Write a comment...">
                  <button class="btn btn-secondary post-comment-new" @click="postComment(post.id)">Post</button>
                </span>
              </li>
            </ul>
          </div>
          
          <!-- Objave tipa fotografija -->
          <!-- Zaglavlje objave -->

          <div class="card mx-auto" v-else>
            <span class="profile-info">
              <img :src="'..' + profilePhotoMap[post.authorUsername].substr(12)" alt="image" class="profile-pic">
              <h6 class="card-title post-author" :class="{glow: (post.authorUsername === 'jovansa' || post.authorUsername === 'djosa')}">{{post.authorUsername}}</h6>
              <p class="timestamp">{{post.timestamp}}</p>
              <button style="display: inline;" class="btn btn-secondary btn-sm details-button" @click="reveal(post.id)"
                :id="'button'+post.id">Show Details</button>
              <i class="fas fa-trash-alt delete-icon" @click="deletePost(post.id, post.authorUsername)" v-if="post.authorUsername === logged.username"></i>
              <i class="fas fa-ban delete-icon glow" @click="adminDeletePost(post.id, post.authorUsername)"
                v-if="logged.role === 'ADMINISTRATOR' && post.authorUsername != logged.username"></i>
            </span>
            
            <!-- Sadrzaj objave -->

            <img class="card-img-top mx-auto" :src="'..' + post.image.substr(12)"
              alt="image">
            <div class="card-body">
              <h5 v-if="typeof post.text !== 'undefined'" class="card-title" :id="'img' + post.id" style="display: none;">{{post.text}}</h5>
            </div>
              
            <!-- Lista komentara -->
            
            <ul class="list-group list-group-flush" id="comment-list" :id="'comments' + post.id" style="display:none;">
                <li v-for="comment in post.comments" v-if="!comment.isDeleted" class="list-group-item">
                  <span class="comment-info">
                    <img :src="'..' + profilePhotoMap[comment.authorUsername].substr(12)" alt="image" class="profile-pic">
                    <h6 class="card-title post-author" :class="{glow: (comment.authorUsername === 'jovansa' || comment.authorUsername === 'djosa')}">{{comment.authorUsername}}</h6>
                    <p class="timestamp">{{comment.postDate}}</p>
                    <p class="timestamp" v-if="comment.hasOwnProperty('lastModified')">{{"(edited " + comment.lastModified + ")"}}</p>
                    <i class="fas fa-trash-alt delete-icon" @click="deleteComment(comment.id)" v-if="comment.authorUsername === logged.username"></i>
                    <i class="fas fa-pen edit-icon" @click="editComment(comment.id)" v-if="comment.authorUsername === logged.username"></i>
                    <p :id="'commentText'+comment.id">{{comment.text}}</p>
                  </span>
                </li>
                
                <!-- Prompt za upis novog komentara -->
                
                <li class="list-group-item comment-new-span">
                  <span class="row">
                    <img :src="'..' + logged.profilePic.substr(12)" alt="image" class="profile-pic">
                    <input type="text" :id="'post-comment' + post.id" class="form-control col" placeholder="Write a comment...">
                    <button class="btn btn-secondary post-comment-new" @click="postComment(post.id)">Post</button>
                  </span>
                </li>
              
              </ul>
          </div>
        </li>
      </ul>
    </div>
  </div>
  
  <!-- Koriscene skripte -->
  
  <script src="../js_lib/vue.js"></script>
  <script src="../js_lib/axios.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
    integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
    crossorigin="anonymous"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
    integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
    crossorigin="anonymous"></script>
  <script src="../js/script-home.js"></script>
</body>

</html>