<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Dongle:wght@300&display=swap" rel="stylesheet">
  <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css" rel="stylesheet" />
  <link href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700&display=swap" rel="stylesheet" />
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
    integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
  <link rel="stylesheet" href="./css/style-login.css">
  <title>Login - Connectify</title>
</head>

<body>
  <div class="container" id="main">
    <div class="frame ">
      <ul class="tab-group">
        <li class="tab active"><a href="#login">Log In</a></li>
        <li class="tab"><a href="#signup">Sign Up</a></li>
      </ul>
      <form action="#" id="login" class="form" novalidate>
        <h1>Login to Connectify</h1>
          <input type="text" class="form-control col" id="username" placeholder="Enter username" v-model="loginUsername" @keydown="deleteError(loginError)">
          <input type="password" class="form-control col" id="password" placeholder="Enter password" v-model="loginPassword" @keydown="deleteError(loginError)">
          <p style="color:red" id="login-error"> {{loginError | appendSuffix}} </p>
        <button @click.stop="login" type="button" class="btn btn-primary btn-block">Login</button>
      </form>
      <form action="#" id="signup" class="form" novalidate>
        <h1>Sign Up to Connectify</h1>
        <div class="row">
          <div class="col">
            <input type="text" class="form-control" id="signup-username" placeholder="Enter username" v-model="signupUsername" @keydown="deleteError(usernameError)">
          </div>
          <div class="col">
            <input type="email" class="form-control" id="email" placeholder="Enter e-mail" v-model="email" @keydown="deleteError(emailError)">
          </div>
        </div>
        <div class="row">
          <div class="col">
            <p style="color:red" id="username-error"> {{usernameError}} </p>
          </div>
          <div class="col">
            <p style="color:red" id="email-error"> {{emailError}} </p>
          </div>
        </div>
        <div class="row">
          <div class="col">
            <input type="password" class="form-control" id="signup-password" placeholder="Enter password" v-model="signupPassword" @keydown="deleteError(passwordError)">
          </div>
          <div class="col">
            <input type="password" class="form-control" id="confirm-password" placeholder="Confirm password" v-model="confirmPassword" @keydown="deleteError(confirmPasswordError)">
          </div>
        </div>
        <div class="row">
          <div class="col">
            <p style="color:red" id="password-error"> {{passwordError}} </p>
          </div>
          <div class="col">
            <p style="color:red" id="confirm-password-error"> {{confirmPasswordError}} </p>
          </div>
        </div>
        <div class="row">
          <div class="col">
            <input type="text" class="form-control" id="name" placeholder="Enter name" v-model="name" @keydown="deleteError(nameError)">
          </div>
          <div class="col">
            <input type="text" class="form-control" id="surname" placeholder="Enter surname" v-model="surname" @keydown="deleteError(surnameError)">
          </div>
        </div>
        <div class="row">
          <div class="col">
            <p style="color:red" id="name-error"> {{nameError}} </p> 
          </div>
          <div class="col">
            <p style="color:red" id="surname-error"> {{surnameError}} </p>
          </div>
        </div>
        <div class="row">
          <label for="gender-buttons" class="col">Select your gender:</label>
          <div class="gender-buttons">
            <div class="form-check form-check-inline">
              <input class="form-check-input" type="radio" name="gender-radio" id="radio-male" value="male" v-model="gender" checked>
              <label class="form-check-label" for="radio-male" selected>Male</label>
            </div>
            <div class="form-check form-check-inline">
              <input class="form-check-input" type="radio" name="gender-radio" id="radio-female" value="female" v-model="gender">
              <label class="form-check-label" for="radio-female">Female</label>
            </div>
          </div>
        </div>
        <button @click.stop="signup" type="button" class="btn btn-primary btn-block">Submit</button>
      </form>
      <div class="row">
        <div class="col"><a href="/app/home.html" style="margin-left: 180px;">Proceed as Guest</a></div>
      </div>
    </div>
  </div>
  <script src="./js_lib/vue.js"></script>
  <script src="./js_lib/axios.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
    integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
    crossorigin="anonymous"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
    integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
    crossorigin="anonymous"></script>
  <script src="./js/script-login.js"></script>
  <script src="./js/login.js"></script>
</body>

</html>