.glow {
  color: #f35626;
  background-image: -webkit-linear-gradient(92deg, #f35626, #feab3a);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  -webkit-animation: hue 10s infinite linear;
}

.blink {
  animation: blinker 1s linear infinite;
}

@keyframes blinker {
  50% {
    opacity: 0;
  }
}

@-webkit-keyframes hue {
  from {
    -webkit-filter: hue-rotate(0deg);
  }

  to {
    -webkit-filter: hue-rotate(-360deg);
  }
}

.shake {
  -webkit-animation-name: spaceboots;
  -webkit-animation-duration: 0.8s;
  -webkit-transform-origin: 50% 50%;
  -webkit-animation-iteration-count: infinite;
  -webkit-animation-timing-function: linear;
}

@-webkit-keyframes spaceboots {
  0% {
    -webkit-transform: translate(0.75px, 0.375px) rotate(0deg);
  }
  10% {
    -webkit-transform: translate(-0.375px, -0.75px) rotate(-0.375deg);
  }
  20% {
    -webkit-transform: translate(-1.125px, 0px) rotate(0.375deg);
  }
  30% {
    -webkit-transform: translate(0px, 0.75px) rotate(0deg);
  }
  40% {
    -webkit-transform: translate(0.375px, -0.375px) rotate(0.375deg);
  }
  50% {
    -webkit-transform: translate(-0.375px, 0.75px) rotate(-0.375deg);
  }
  60% {
    -webkit-transform: translate(-1.125px, 0.375px) rotate(0deg);
  }
  70% {
    -webkit-transform: translate(0.75px, 0.375px) rotate(-0.375deg);
  }
  80% {
    -webkit-transform: translate(-0.375px, -0.375px) rotate(0.375deg);
  }
  90% {
    -webkit-transform: translate(0.75px, 0.75px) rotate(0deg);
  }
  100% {
    -webkit-transform: translate(0.375px, -0.75px) rotate(-0.375deg);
  }
}
