@import url("https://fonts.googleapis.com/css2?family=Source+Sans+Pro&display=swap");

body {
  height: 100%;
  background: rgb(149, 149, 252);
  background-size: cover;
  width: 100%;
  padding-top: 56px;
}

#logo:hover {
  cursor: pointer;
}

li {
  font-size: 1rem;
}

#home {
  margin-right: 3rem;
}

@media (min-width: 768px) {
  #search {
    width: 350px;
  }
}

#range-picker {
  margin-left: 3px;
}

#logout {
  margin-left: 5rem;
}

#search-button {
  margin-left: 6px;
}

.container {
  height: 100%;
}

.post-button {
  width: 100%;
  height: 200px;
  font-size: 3rem;
  margin-top: 1.4rem;
  margin-bottom: 5.8rem;
  appearance: none;
  background-color: #f8f9fa;
  border-radius: 40em;
  border-style: none;
  box-shadow: #adcfff 0 -12px 6px inset;
  box-sizing: border-box;
  color: #000000;
  cursor: pointer;
  display: inline-block;
  outline: none;
  quotes: auto;
  text-align: center;
  text-decoration: none;
  transition: 0.4s;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.post-button:hover {
  background-color: rgba(122, 122, 238, 0.603);
  box-shadow: rgba(26, 79, 160, 0.61) 0 -6px 8px inset;
  color: white;
  transform: scale(1.05);
}

.post-button:active {
  transform: scale(1.025);
}

.post-icon {
  margin-right: 20px;
}

.top-button-container {
  margin-top: 3px;
}

.activated-post {
  width: 100%;
  height: 300px;
  transition: 0.4s;
  margin-top: 0.5rem;
  background: #f8f9fa;
  border: 3px lightgray solid;
  border-radius: 20px;
  text-align: center;
}

.activated-post label {
  margin-top: 20px;
}

.activated-post input[type="file"] {
  margin-left: 23%;
  margin-bottom: 5%;
}

.post-text {
  width: 70%;
  margin: auto;
  height: 40%;
  resize: none;
}

.selection {
  margin-top: 10px;
  transition: 0.4s;
}

#post-list {
  margin-top: 10px;
}

.post-list-item {
  list-style-type: none;
  padding: 0;
  margin: 0;
  margin-bottom: 10px;
}

.card-img-top {
  width: 75%;
  height: 100%;
}

.profile-pic {
  width: 50px;
  height: 50px;
  object-fit: contain;
  border-radius: 50%;
}

h6 {
  display: inline;
}

.profile-info {
  padding-left: 3px;
  padding-top: 3px;
}

.comment-info p {
  padding-top: 5px;
}

.comment-new-span {
  background: #f8f9fa;
}

#comment-new {
  display: inline;
  margin-left: 3px;
  margin-right: 3px;
}

.post-comment-new {
  display: inline;
  margin-left: 3px;
}

.details-button {
  margin-left: 3px;
}

ul {
  padding: 0;
}

.timestamp {
  color: gray;
  display: inline;
  padding-left: 3px;
  font-size: 14px;
}

.delete-icon {
  color: rgb(161, 5, 5);
  display: inline;
  margin-left: 3px;
}

.delete-icon:hover {
  color: red;
  cursor: pointer;
}

.edit-icon {
  color: darkgreen;
  display: inline;
  margin-left: 3px;
}

.fa-user-plus {
  margin-left: 3px;
}

.edit-icon:hover {
  color: rgb(5, 167, 5);
  cursor: pointer;
}

.profile-pic-large {
  margin-top: 15px;
  width: 350px;
  height: 350px;
  object-fit: fill;
  border-radius: 50%;
  border: 15px outset lightgray;
  margin-bottom: 15px;
}

.profile-information {
  height: 500px;
  background-color: white;
  border-radius: 20px;
}

.profile-information-username {
  font-size: 40px;
  margin-top: 5px;
}

.profile-information-text {
  font-size: 32px;
  margin-top: 5px;
}

.mutual-friends-table {
  overflow: auto;
  height: 135px;
  width: 100%;
  margin-left: 10px;
}

.dm-button {
  height: 50% !important;
  margin-top: 55px;
}

.friendlist-item:hover {
  background: lightgray;
  cursor: pointer;
}

.fa-question {
  margin-left: 10px;
  margin-right: 5px;
  color: gray;
}

#search-results-wrapper,
#friend-request-wrapper,
#direct-message-wrapper {
  margin-top: 50px;
}

.friend-request-header {
  text-align: center;
}

.message-container {
  width: 100%;
  height: 600px;
  background-color: white;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
}

.chat-box {
  height: 520px;
  overflow-y: auto;
}

.msg {
  display: inline-flex;
  flex-wrap: wrap;
  list-style-type: none;
}

.message-container img {
  margin-left: 10px;
}

.grow {
  margin-left: 10px;
  transition: all 0.2s ease-in-out;
}

.grow:hover {
  transform: scale(1.05);
  cursor: pointer;
}

#direct-message-profilepic {
  margin-left: 20px;
}

#direct-message-input {
  margin-left: 20px;
  height: 50px;
}

#direct-message-send {
  margin-left: 10px;
  margin-right: 10px;
  height: 50px;
}

.direct-message-prompt {
  width: 100%;
  background-color: white;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
  height: 60px;
}

.chat-box .list-group-item {
  margin-right: 20px;
  margin-bottom: 10px;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
  font-family: "Source Sans Pro", sans-serif;
  font-size: large;
}

.sender {
  background: rgb(230, 229, 229);
  text-align: end;
  border-top-left-radius: 20px;
}
.recipient {
  background: lightskyblue;
  border-top-right-radius: 20px;
}
.recipient p {
}
.selected {
  text-decoration: underline;
  color: maroon !important;
}

.admin {
  background: pink !important;
  text-shadow: 0.5px 0.5px black !important;
}

.new-msg {
  color: red;
}

.new-msg:hover {
  color: rgb(250, 84, 84);
}

.chat-box .timestamp {
  font-size: 12px;
}

.block-button-icon {
  margin-left: 7px;
}

.block-button::before {
  content: none;
}

.align-c {
  text-align: center;
}
