.edit-container p {
  padding-left: 20px;
}

.edit-container
  div
  .container
  .row
  .col-sm
  .activated-post
  div
  .form
  .row
  .col
  .form-control {
  padding-left: 20px !important;
  margin-top: 0 !important;
}

.activated-edit {
  width: 100%;
  height: 800px;
  transition: 0.4s;
  margin-top: 0.5rem;
  background: #f8f9fa;
  border: 3px lightgray solid;
  border-radius: 20px;
  border-radius: 20px;
  text-align: center;
}

.activated-edit label {
  margin-top: 20px;
}

.activated-edit input[type="file"] {
  margin-left: 0;
}

.activated-edit input[type="text"] {
  width: 500px;
  margin-left: 3%;
  margin-top: 0;
}

.activated-edit input[type="email"] {
  width: 500px;
  margin-left: 3%;
  margin-top: 0;
}

.activated-edit input[type="password"] {
  width: 500px;
  margin-left: 3%;
  margin-top: 0;
}

.activated-edit input[type="date"] {
  width: 500px;
  margin-left: 3%;
  margin-top: 0;
}

#new-profile-pic {
  margin-right: 25px;
}

.fa-edit {
  margin-left: 30px;
}

.edit-container input[type="radio"] {
  width: 100%;
  margin: 0px;
  margin-top: 3px;
  transform: scale(1.3);
  margin-left: 5px;
}

.form-check-label {
  margin-right: 25px;
}

.current-pic-label {
  margin-right: 20px;
  font-size: 12px;
}

#table-wrapper {
  position: relative;
  padding: 0;
  margin: 0;
  width: 100%;
  height: 100%;
}

#table-scroll {
  height: 150px;
  overflow: auto;
  margin-top: 20px;
}

.picTable,
.edit-container th,
td {
  border: 1px solid white;
  color: gray;
  font-size: large;
}

.picTable {
  width: 100%;
}

.edit-container tr.selected {
  background-color: #aaaaaa;
}

.edit-selection {
  margin-top: 60px;
  transition: 0.4s;
}
