body {
  height: 100%;
  background-image: linear-gradient(
    135deg,
    rgba(242, 246, 255, 1) 0%,
    rgba(101, 101, 240, 1) 72%,
    rgba(19, 75, 158, 1) 100%
  );
  background-size: cover;
  font-family: "Dongle", sans-serif;
  cursor: default;
  width: 100%;
}

html,
body * {
  box-sizing: border-box;
  font-size: 1.7rem;
}

.container {
  width: 100%;
  padding-top: 60px;
  padding-bottom: 100px;
}

.frame {
  height: 700px;
  width: 620px;
  background: linear-gradient(
    to bottom,
    rgb(0, 62, 250) 0%,
    rgb(3, 20, 49) 100%
  );
  background-size: cover;
  margin-left: auto;
  margin-right: auto;
  border-radius: 5px;
  box-shadow: 0px 2px 7px rgba(0, 0, 0, 0.2);
  overflow: hidden;
}

h1 {
  text-align: center;
  color: lightgray;
  font-weight: lighter;
  margin-top: 5px;
  font-size: 2.5rem;
  text-shadow: 2px 2px #424242;
}

.frame form {
  padding-left: 20px;
  padding-right: 20px;
  padding-bottom: 20px;
}

.frame form p {
  font-size: 1rem;
  line-height: 0.7rem;
  margin-left: 5px;
}

#signup {
  display: none;
}

.frame .tab-group {
  list-style: none;
  padding: 0;
  margin: 0;
}

.frame .tab-group::after {
  content: "";
  display: table;
  clear: both;
}

.frame .tab-group li a {
  display: block;
  text-decoration: none;
  padding: 10px;
  background: linear-gradient(
    to bottom,
    rgb(255, 255, 255),
    rgba(3, 60, 233, 0)
  );
  opacity: 0.7;
  float: left;
  width: 50%;
  text-align: center;
  -moz-transition: all 0.4s ease-in-out;
  -o-transition: all 0.4s ease-in-out;
  -webkit-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
  color: black;
}

.frame .tab-group li a:hover {
  color: white;
  text-shadow: 2px 2px #424242;
}

.frame .tab-group .active a {
  color: white;
  text-shadow: 2px 2px #424242;
}

.frame input {
  font-size: 1.2rem;
  color: #666;
  -moz-transition: all 0.4s ease-in-out;
  -o-transition: all 0.4s ease-in-out;
  -webkit-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
}

.frame #signup input {
  font-size: 0.9rem;
  margin-bottom: 5px;
}

.frame input:focus {
  outline: 0;
  border-color: #2e5ed7;
}

.frame label {
  color: lightgray;
  font-weight: normal;
  text-shadow: 2px 2px #424242;
}

.frame .btn {
  font-size: 1.1rem;
  -moz-transition: all 0.4s ease-in-out;
  -o-transition: all 0.4s ease-in-out;
  -webkit-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
}

.frame .col {
  margin-top: 0px;
}

.frame .gender-buttons {
  margin-right: 15px;
}

.frame .gender-buttons #radio-female {
  margin-left: 10px;
}

#username {
  margin-top: 75px;
  margin-bottom: 10px;
}

#password {
  margin-top: 40px;
  margin-bottom: 10px;
}

#login-button {
  margin-top: 75px;
}
